################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/data/sf2
/scripts/DP/.vs/DP/FileContentIndex/69eb0ea2-595a-4eee-9da4-0df77bb1f9f3.vsidx
/scripts/DP/.vs/DP
/data/output/output.zip
/data/output/semestral_thesis.zip
